*{
  paddig:0;
  margin-box:0;
  margin:0;
}
body{
  text-align:center;
   overflow: hidden;
}
main{
  margin-top:100px;
}
main h1{
  color:#3f3d56;
  margin-bottom:16px; 
  margin-top:32px;
  margin-bottom: 50px;
}

main h1 strong{
 color:#ee24ff;
}
main p{
color:#828282; 
}

main p strong{

  color:#3f3d56;
}
main p~p{
  margin-bottom:32px; 
}

footer section{
  display:flex;
  justify-content:center;
  gap:20px;
  margin:80px auto 41px;
  align-content: center;
  border: 1px solid #CCC; 
  width:391px;
  height:0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer p{
  margin-top: 16px;
  
  color:#3f3d56;
}

footer p:hover{
  color:red;
  opacity:0.5;
   
}
footer img{
  margin-top:10px;
  width:100%;
  height:260px;
  
}